@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

/*
Variables
*/
:root {
    --title-col: rgb(104, 85, 57); 
}

body {
    padding: 0px;
    margin: 0px;
    background: #e9e9e9;
    font-family: 'Open Sans', sans-serif;
    color: #000;
}

body:after {
    content: "Made by Chrigi";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    color: #919191;
    font-size: 10pt;
}

div {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

#tabs {
    padding-bottom: 20px;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
}

#tab {
    margin-left: -5px;
    padding: 10px;
    padding-left: 20px;
    background-color: rgb(104, 185, 157);
    border-bottom-right-radius: 20px;
    border-style: solid;
    border-color: red;
}

h1 {    
    padding: 10px;
    margin: 0px;
    color: var(--title-col);
    font-size: 48pt;
    font-family: 'Playfair Display', sans-serif;
    background-color: rgb(104, 245, 217)
}

#underlh1 {
    height: 10px;
    background-color: var(--title-col);
}

img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 50px;
}

a {
    color: rgb(28, 33, 104);
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    vertical-align: bottom;
}
  
